{{!< default}}

<header class="site-header outer" style="background-image: url({{asset "forest2.jpg"}})">
    <div class="inner">
        {{> "site-nav"}}
    </div>
    <div class="site-header-content section-header-content">
        <h1 class="site-title">Tags</h1>
    </div>
    <style>
        .pill-button {
            margin: 10px;
            text-shadow: 2px 2px 4px #000000;
            box-shadow: 2px 2px 4px #000000;
            background-color: #1b231e;
            border: none;
            color: black;
            padding: 0px 20px 15px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
            border-radius: 40px
        }

        .tag-cloud-container {
            margin: -50px auto;
            width: 100%;
            text-align: center
        }

        .site-title {
            -webkit-filter: drop-shadow(2px 2px 2px #000);
            filter: drop-shadow(2px 2px 2px #000);
        }

    </style>
</header>

{{#post}}
    <main id="site-main" class="site-main outer" role="main">
        <div class="inner">
            <div class="tag-cloud-container">
                {{#get 'tags' limit='all' include='count.posts' order='count.posts desc'}}
                    {{#foreach tags}}
                        <div class="pill-button">
                            <a href='{{ url }}' style="color: #ffffff">
                                <h2>{{ name }} <small>({{ count.posts }})</small></h2>
                            </a>
                        </div>
                    {{/foreach}}
                {{/get}}
            </div>
        </div>
    </main>
{{/post}}
